[35m50f640824999dd3501f90ff06e71759ad18ae67e:.env.example[m[36m:[m# DBpostgresql://postgres.eibnapzugfwvxdxhzins:[1;31mKikulikukka123[m-@aws-0-eu-north-1.pooler.supabase.com:6543/postgres
[35m4da705af2ae9946e458f21b94fd1db8cf3cee094:.env.example[m[36m:[m# DBpostgresql://postgres.eibnapzugfwvxdxhzins:[1;31mKikulikukka123[m-@aws-0-eu-north-1.pooler.supabase.com:6543/postgres
[35m5da8254b4ac1458d6591c53a51f21a6bbde259fa:.env.example[m[36m:[m# DBpostgresql://postgres.eibnapzugfwvxdxhzins:[1;31mKikulikukka123[m-@aws-0-eu-north-1.pooler.supabase.com:6543/postgres
[35m6882c15937cb2a6bf96a376f67d3c7f9d1ffc9fc:.env.example[m[36m:[m# DBpostgresql://postgres.eibnapzugfwvxdxhzins:[1;31mKikulikukka123[m-@aws-0-eu-north-1.pooler.supabase.com:6543/postgres
[35mebece5266ef7997e8adce405e392f07af40ad46d:.env.example[m[36m:[m# DBpostgresql://postgres.eibnapzugfwvxdxhzins:[1;31mKikulikukka123[m-@aws-0-eu-north-1.pooler.supabase.com:6543/postgres
[35md36d01f633dd063b7360683e1966f286b6c748fd:.env.example[m[36m:[m# DBpostgresql://postgres.eibnapzugfwvxdxhzins:[1;31mKikulikukka123[m-@aws-0-eu-north-1.pooler.supabase.com:6543/postgres
[35m09d24a3c52f3fc6e2fdcb6f64dcf7db4056e5d51:.env.example[m[36m:[m# DBpostgresql://postgres.eibnapzugfwvxdxhzins:[1;31mKikulikukka123[m-@aws-0-eu-north-1.pooler.supabase.com:6543/postgres
[35mb04a050b17cae5bd8b2515f9f58b7b06e4665a97:.env.example[m[36m:[m# DBpostgresql://postgres.eibnapzugfwvxdxhzins:[1;31mKikulikukka123[m-@aws-0-eu-north-1.pooler.supabase.com:6543/postgres
[35m204aa82b66e04ef16744030b62b862b81f49a5b3:.env.example[m[36m:[m# DBpostgresql://postgres.eibnapzugfwvxdxhzins:[1;31mKikulikukka123[m-@aws-0-eu-north-1.pooler.supabase.com:6543/postgres
